carbon/platform/branches/turing/service-stubs/org.wso2.carbon.output.transport.adaptor.manager.stub/1.0.0/src/main/resources/OutputTransportAdaptorManagerAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ax2223="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org">
    <wsdl:documentation>OutputTransportAdaptorManagerAdminService</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ax2224="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org">
            <xs:import namespace="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org/xsd"/>
            <xs:element name="undeployInactiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="undeployActiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testConnection">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputAdaptorPropertyDtoOutputs" nillable="true" type="ax2224:OutputTransportAdaptorPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setTracingEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setStatisticsEnabled">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="flag" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorTypeNames">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorTypeNamesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorProperties">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getOutputTransportAdaptorPropertiesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:OutputTransportAdaptorPropertiesDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveOutputTransportAdaptorConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getInactiveOutputTransportAdaptorConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllInactiveOutputTransportAdaptorConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2224:OutputTransportAdaptorFileDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAllActiveOutputTransportAdaptorConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax2224:OutputTransportAdaptorConfigurationInfoDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveOutputTransportAdaptorConfigurationContent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveOutputTransportAdaptorConfigurationContentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getActiveOutputTransportAdaptorConfigurationResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax2224:OutputTransportAdaptorPropertiesDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editInactiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editActiveOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorConfiguration" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deployOutputTransportAdaptorConfiguration">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="transportAdaptorType" nillable="true" type="xs:string"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="outputAdaptorPropertyDtoOutputs" nillable="true" type="ax2224:OutputTransportAdaptorPropertyDto"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://internal.admin.manager.adaptor.transport.output.carbon.wso2.org/xsd">
            <xs:complexType name="OutputTransportAdaptorPropertyDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="defaultValue" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="displayName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="hint" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="key" nillable="true" type="xs:string"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="options" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="required" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="secured" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutputTransportAdaptorPropertiesDto">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="outputTransportAdaptorPropertyDtos" nillable="true" type="ax2223:OutputTransportAdaptorPropertyDto"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutputTransportAdaptorFileDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="filePath" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OutputTransportAdaptorConfigurationInfoDto">
                <xs:sequence>
                    <xs:element minOccurs="0" name="enableStats" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="enableTracing" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="transportAdaptorName" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="transportAdaptorType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="testConnectionRequest">
        <wsdl:part name="parameters" element="ns:testConnection"/>
    </wsdl:message>
    <wsdl:message name="testConnectionResponse"/>
    <wsdl:message name="getAllActiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getAllActiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getAllActiveOutputTransportAdaptorConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getAllActiveOutputTransportAdaptorConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="editActiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editActiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editActiveOutputTransportAdaptorConfigurationResponse"/>
    <wsdl:message name="getActiveOutputTransportAdaptorConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getActiveOutputTransportAdaptorConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getActiveOutputTransportAdaptorConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getActiveOutputTransportAdaptorConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="getActiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getActiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getActiveOutputTransportAdaptorConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getActiveOutputTransportAdaptorConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:getAllInactiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="getAllInactiveOutputTransportAdaptorConfigurationResponse">
        <wsdl:part name="parameters" element="ns:getAllInactiveOutputTransportAdaptorConfigurationResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployInactiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployInactiveOutputTransportAdaptorConfigurationResponse"/>
    <wsdl:message name="setStatisticsEnabledRequest">
        <wsdl:part name="parameters" element="ns:setStatisticsEnabled"/>
    </wsdl:message>
    <wsdl:message name="setStatisticsEnabledResponse"/>
    <wsdl:message name="getInactiveOutputTransportAdaptorConfigurationContentRequest">
        <wsdl:part name="parameters" element="ns:getInactiveOutputTransportAdaptorConfigurationContent"/>
    </wsdl:message>
    <wsdl:message name="getInactiveOutputTransportAdaptorConfigurationContentResponse">
        <wsdl:part name="parameters" element="ns:getInactiveOutputTransportAdaptorConfigurationContentResponse"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:undeployActiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="undeployActiveOutputTransportAdaptorConfigurationResponse"/>
    <wsdl:message name="deployOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:deployOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="deployOutputTransportAdaptorConfigurationResponse"/>
    <wsdl:message name="setTracingEnabledRequest">
        <wsdl:part name="parameters" element="ns:setTracingEnabled"/>
    </wsdl:message>
    <wsdl:message name="setTracingEnabledResponse"/>
    <wsdl:message name="getOutputTransportAdaptorPropertiesRequest">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorProperties"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportAdaptorPropertiesResponse">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorPropertiesResponse"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportAdaptorTypeNamesRequest">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorTypeNames"/>
    </wsdl:message>
    <wsdl:message name="getOutputTransportAdaptorTypeNamesResponse">
        <wsdl:part name="parameters" element="ns:getOutputTransportAdaptorTypeNamesResponse"/>
    </wsdl:message>
    <wsdl:message name="editInactiveOutputTransportAdaptorConfigurationRequest">
        <wsdl:part name="parameters" element="ns:editInactiveOutputTransportAdaptorConfiguration"/>
    </wsdl:message>
    <wsdl:message name="editInactiveOutputTransportAdaptorConfigurationResponse"/>
    <wsdl:portType name="OutputTransportAdaptorManagerAdminServicePortType">
        <wsdl:operation name="testConnection">
            <wsdl:input message="ns:testConnectionRequest" wsaw:Action="urn:testConnection"/>
            <wsdl:output message="ns:testConnectionResponse" wsaw:Action="urn:testConnectionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:getAllActiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:getAllActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:getAllActiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:getAllActiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editActiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:editActiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:editActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:editActiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:editActiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfigurationContent">
            <wsdl:input message="ns:getActiveOutputTransportAdaptorConfigurationContentRequest" wsaw:Action="urn:getActiveOutputTransportAdaptorConfigurationContent"/>
            <wsdl:output message="ns:getActiveOutputTransportAdaptorConfigurationContentResponse" wsaw:Action="urn:getActiveOutputTransportAdaptorConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:getActiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:getActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:getActiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:getActiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:getAllInactiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:getAllInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:getAllInactiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:getAllInactiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:undeployInactiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:undeployInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:undeployInactiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:undeployInactiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <wsdl:input message="ns:setStatisticsEnabledRequest" wsaw:Action="urn:setStatisticsEnabled"/>
            <wsdl:output message="ns:setStatisticsEnabledResponse" wsaw:Action="urn:setStatisticsEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getInactiveOutputTransportAdaptorConfigurationContent">
            <wsdl:input message="ns:getInactiveOutputTransportAdaptorConfigurationContentRequest" wsaw:Action="urn:getInactiveOutputTransportAdaptorConfigurationContent"/>
            <wsdl:output message="ns:getInactiveOutputTransportAdaptorConfigurationContentResponse" wsaw:Action="urn:getInactiveOutputTransportAdaptorConfigurationContentResponse"/>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:undeployActiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:undeployActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:undeployActiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:undeployActiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deployOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:deployOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:deployOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:deployOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:deployOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <wsdl:input message="ns:setTracingEnabledRequest" wsaw:Action="urn:setTracingEnabled"/>
            <wsdl:output message="ns:setTracingEnabledResponse" wsaw:Action="urn:setTracingEnabledResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorProperties">
            <wsdl:input message="ns:getOutputTransportAdaptorPropertiesRequest" wsaw:Action="urn:getOutputTransportAdaptorProperties"/>
            <wsdl:output message="ns:getOutputTransportAdaptorPropertiesResponse" wsaw:Action="urn:getOutputTransportAdaptorPropertiesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorTypeNames">
            <wsdl:input message="ns:getOutputTransportAdaptorTypeNamesRequest" wsaw:Action="urn:getOutputTransportAdaptorTypeNames"/>
            <wsdl:output message="ns:getOutputTransportAdaptorTypeNamesResponse" wsaw:Action="urn:getOutputTransportAdaptorTypeNamesResponse"/>
        </wsdl:operation>
        <wsdl:operation name="editInactiveOutputTransportAdaptorConfiguration">
            <wsdl:input message="ns:editInactiveOutputTransportAdaptorConfigurationRequest" wsaw:Action="urn:editInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:output message="ns:editInactiveOutputTransportAdaptorConfigurationResponse" wsaw:Action="urn:editInactiveOutputTransportAdaptorConfigurationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OutputTransportAdaptorManagerAdminServiceSoap11Binding" type="ns:OutputTransportAdaptorManagerAdminServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="testConnection">
            <soap:operation soapAction="urn:testConnection" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:getAllActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfigurationContent">
            <soap:operation soapAction="urn:getActiveOutputTransportAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:editActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:getAllInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:getActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:undeployInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveOutputTransportAdaptorConfigurationContent">
            <soap:operation soapAction="urn:getInactiveOutputTransportAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:undeployActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:deployOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorProperties">
            <soap:operation soapAction="urn:getOutputTransportAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveOutputTransportAdaptorConfiguration">
            <soap:operation soapAction="urn:editInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorTypeNames">
            <soap:operation soapAction="urn:getOutputTransportAdaptorTypeNames" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OutputTransportAdaptorManagerAdminServiceSoap12Binding" type="ns:OutputTransportAdaptorManagerAdminServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="testConnection">
            <soap12:operation soapAction="urn:testConnection" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:getAllActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfigurationContent">
            <soap12:operation soapAction="urn:getActiveOutputTransportAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:editActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:getAllInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:getActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:undeployInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <soap12:operation soapAction="urn:setStatisticsEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveOutputTransportAdaptorConfigurationContent">
            <soap12:operation soapAction="urn:getInactiveOutputTransportAdaptorConfigurationContent" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:undeployActiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <soap12:operation soapAction="urn:setTracingEnabled" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:deployOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorProperties">
            <soap12:operation soapAction="urn:getOutputTransportAdaptorProperties" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveOutputTransportAdaptorConfiguration">
            <soap12:operation soapAction="urn:editInactiveOutputTransportAdaptorConfiguration" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorTypeNames">
            <soap12:operation soapAction="urn:getOutputTransportAdaptorTypeNames" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OutputTransportAdaptorManagerAdminServiceHttpBinding" type="ns:OutputTransportAdaptorManagerAdminServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="testConnection">
            <http:operation location="testConnection"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllActiveOutputTransportAdaptorConfiguration">
            <http:operation location="getAllActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfigurationContent">
            <http:operation location="getActiveOutputTransportAdaptorConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editActiveOutputTransportAdaptorConfiguration">
            <http:operation location="editActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAllInactiveOutputTransportAdaptorConfiguration">
            <http:operation location="getAllInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getActiveOutputTransportAdaptorConfiguration">
            <http:operation location="getActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployInactiveOutputTransportAdaptorConfiguration">
            <http:operation location="undeployInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setStatisticsEnabled">
            <http:operation location="setStatisticsEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getInactiveOutputTransportAdaptorConfigurationContent">
            <http:operation location="getInactiveOutputTransportAdaptorConfigurationContent"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="undeployActiveOutputTransportAdaptorConfiguration">
            <http:operation location="undeployActiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setTracingEnabled">
            <http:operation location="setTracingEnabled"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deployOutputTransportAdaptorConfiguration">
            <http:operation location="deployOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorProperties">
            <http:operation location="getOutputTransportAdaptorProperties"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="editInactiveOutputTransportAdaptorConfiguration">
            <http:operation location="editInactiveOutputTransportAdaptorConfiguration"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getOutputTransportAdaptorTypeNames">
            <http:operation location="getOutputTransportAdaptorTypeNames"/>
            <wsdl:input>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OutputTransportAdaptorManagerAdminService">
        <wsdl:port name="OutputTransportAdaptorManagerAdminServiceHttpsSoap11Endpoint" binding="ns:OutputTransportAdaptorManagerAdminServiceSoap11Binding">
            <soap:address location="https://10.200.1.136:9443/services/OutputTransportAdaptorManagerAdminService.OutputTransportAdaptorManagerAdminServiceHttpsSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OutputTransportAdaptorManagerAdminServiceHttpsSoap12Endpoint" binding="ns:OutputTransportAdaptorManagerAdminServiceSoap12Binding">
            <soap12:address location="https://10.200.1.136:9443/services/OutputTransportAdaptorManagerAdminService.OutputTransportAdaptorManagerAdminServiceHttpsSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="OutputTransportAdaptorManagerAdminServiceHttpsEndpoint" binding="ns:OutputTransportAdaptorManagerAdminServiceHttpBinding">
            <http:address location="https://10.200.1.136:9443/services/OutputTransportAdaptorManagerAdminService.OutputTransportAdaptorManagerAdminServiceHttpsEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>